.globalContainer {
    padding-left: 16%;
    padding-right: 16%;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.articleContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    min-width: 600px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.sideContainer {
    flex: 1;
    padding-left: 5%;
}

.articleAuthorContainer {
    height: 150px;

}

.articleContentContainer {
    height: 1000px;
    overflow: hidden;

}

.articleTitle {
}

.articleImg {
    max-height: 100%;
    max-width: 100%;
}

.articleContent {

}