.articleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    min-width: 400px;
    margin-top: 50px;
    cursor: pointer;
}

.textContainer {
    width: 70%;
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.articlePreview {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin: 0;
    color: #292929;
}

.imageContainer {
    min-width: 200px;
    min-height: 150px;
    overflow: hidden;
    margin-left: 5%;
}

.articleImage {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.paraph {
    color: #909090;
}

.articleAuthor {
    font-size: 15px;
}