.globalContainer {
    position: absolute;
    top: 62px;
    background-color: #191919;
    border-radius: 5%;
    min-width: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
align-items: flex-end;
}

.listElement {
    padding-top: 10px;
    color: #ffffff;
    cursor: pointer;
}